* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f3f6;
}


.header {
    background: #2874f0;
    color: #fff;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.plus {
    font-size: 11px;
    color: #ffe500;
}



.main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cart-box {
    background: #fff;
    width: 80%;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.cart-box img {
    width: 140px;
    margin-bottom: 20px;
}
.cart-box button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cart-box h2 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #212121;
}

.cart-box p {
    color: #878787;
    margin-bottom: 20px;
}

.cart-box button {
    background: #2874f0;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}

.cart-box button:hover {
    background: #0b5ed7;
}


.footer {
    margin-top: 40px;
    padding: 20px 40px;
    font-size: 13px;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: #2874f0;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
