/*forgot password*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.forgot-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.forgot-box h2 {
    margin-bottom: 10px;
    color: #333;
}

.forgot-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.input-group input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 12px;
    background: #667eea;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    
}

button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button:hover {
    background: #5a67d8;
}

.links {
    margin-top: 15px;
}

.links a {
    text-decoration: none;
    font-size: 14px;
    color: #667eea;
}

.links a:hover {
    text-decoration: underline;
}





